/*  The Toasts list is at the top middle, and sits over other content */
.toasts {
  position: fixed;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  z-index: 60;
  overflow-y: auto;
  box-sizing: border-box;
  height: 100%;
}

.toastList {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}