/* The toast message can be a warning or info */
.toast {
  position: relative;
  padding: 0.7em 0.5em;
  pointer-events: auto;
  border-style: solid;
  border-width: 1px 1px 1px 8px;
  border-radius: 5px;
  margin-bottom: 10px;
  min-height: fit-content;
  width: 350px;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  background-position: right; /* The background-xxx properties place the toast icon, which is implemented as a background */
  background-repeat: no-repeat;
  background-size: 1.5em;
  background-origin: content-box;
  transition-property: background-size, background-image;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.toast p {
  text-align: justify;
  user-select: none;
  margin: 0;
  padding-right: 2em; /* Prevents toast text going over the icon */
}
.warning {
  border-color: #de2525;
  background-image: url("/assets/svg/error-icon.svg");
}
.mustAccept {
  color: #fff;
  cursor: pointer;
}
.warning.mustAccept {
  background-color: #de5757;
}
.warning.mustAccept:hover {
  background-image: url("/assets/svg/close-icon.svg");
  background-size: 1em;
}
.info {
  border-color: #5c88b5;
  background-image: url("/assets/svg/info-icon.svg");
}
.info.mustAccept {
  background-color: #71aad8;
}

/* React-flip-toolkit fadein/out animations */

@keyframes toastFadeIn {
  0% {
    bottom: 300px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

.fadeToastIn {
  animation: toastFadeIn 0.3s forwards;
  animation-timing-function: ease-in-out;
}

@keyframes toastFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeToastOut {
  animation: toastFadeOut 0.3s forwards;
  animation-timing-function: ease-in-out;
}
