.editableText, .editableText.valid, .editableText.invalid {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  padding: 0.1em;
  padding-left: 0.25em;
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 3px solid rgba(0,0,0, 0);
  border-color: transparent;
  transition-property: background-color, border-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
}

.editableText.noEdit {
  pointer-events: none;
  text-overflow: ellipsis; 
}

.editableText.valid, .editableText.invalid {
  box-shadow: 0px 0px 8px rgba(0,0,0, 0.1);
}
.editableText.valid {
  border: 1px solid rgba(0, 200, 0, 0.15);
  border-bottom: 3px solid rgba(0,200,0, 0.5);
  background-color:rgba(0,200,0, 0.04);
}
.editableText.valid:focus {
  border: 1px solid rgba(0, 200, 0, 0.3);
  border-bottom: 3px solid rgba(0,200,0, 1);
  background-color:rgba(0,200,0, 0.2);
}

.editableText.invalid {
  border: 1px solid rgba(255,0,0, 0.1);
  border-bottom: 3px solid rgba(255,0,0, 0.5);
  background-color:rgba(200,0,0, 0.1);
}
.editableText.invalid:focus {
  border: 1px solid rgba(255,0,0, 0.2);
  border-bottom: 3px solid rgba(255,0,0, 1);
  background-color:rgba(200,0,0, 0.25);
}

.editableTextInput {
  font-weight: inherit;
}

.editableTextIcon {
  left:-1em;
}