.storyCard {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
  background-color: #fffff5;
  padding: 10px 10px 10px 10px;
  margin: 5px 0 5px 0;
  overflow: hidden;
  border: 1px solid #d5d5cf;
  border-left: 8px solid #60cc60;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  user-select: none;
}
.storyCardFiltered {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
  background-color: #e0e0e0;
  padding: 1px 0 0 0;
  margin: 1px 0 1px 0;
  border: 1px solid #d5d5cf;
  border-left: 8px solid #60cc60;
  border-radius: 0px;
  user-select: none;
}

.storyCardFiltered:first-child {
  margin-top: 5px;
}