.swimlane {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width:300px;
  max-width: 300px;
  border: 2px solid #dedede;
  border-radius: 10px;
  margin: 5px 10px 5px 10px;
  background-color: #fdfcff;
  overflow: hidden;
  padding-top: 2px;
  overflow: visible;
  animation-name: swimlaneAppear;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
}
.swimlane:first-child {
  margin-left: 0;
}
.swimlane:last-child {
  margin-right: 0;
}
.swimlane:hover {
  background-color: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-color: transparent;
  padding-top: 0;
}

.noAnimation {
  animation-name: none;
}
.reverseAnimation {
  animation-name: swimlaneDisappear;
}
@keyframes swimlaneAppear {
  from {
    min-width: 0;
    max-width: 0;
    margin: 5px 0 5px 0;
  }
  to {
    min-width: 300px;
    max-width:300px;
    margin: 5px 10px 5px 10px;
  }
}
@keyframes swimlaneDisappear {
  from {
    min-width: 300px;
    max-width: 300px;
    margin: 5px 10px 5px 10px;
  }
  to {
    min-width: 0;
    max-width: 0;
    margin: 5px 0 5px 0;
  }
}

@keyframes swimlaneIconFade {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.addIcon {
  position: absolute;
  content:url(/assets/svg/add-circle.svg);
  cursor: pointer;
  width: 2em;
  right: -1.85em;
  top: 100px;
  z-index: 1;
  animation: swimlaneIconFade 1.2s;
}

.addIcon:hover {
  content:url(/assets/svg/add-circle-over.svg);
}
.deleteIcon {
  position: absolute;
  content:url(/assets/svg/close-icon.svg);
  cursor: pointer;
  width:1em;
  right:16px;
  top: 22px;
  z-index:1;
  animation: swimlaneIconFade 1.2s;
}

.deleteIcon.disabled {
  content:url(/assets/svg/close-icon-disabled.svg);
  cursor: default;
  animation: swimlaneIconFade 1.2s;
}
.deleteIcon:not(.disabled):hover {
  content:url(/assets/svg/close-icon-over.svg);
}

.swimlaneHead {
  height: 58px;
  flex-shrink: 0;
  position: relative;
  line-height: 36px;
  border-bottom: 1px solid #e9e9e9;
  vertical-align: middle;
  padding: 5px 24px 5px 20px;
}
.swimlaneBody {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  overflow-x: hidden;
  overflow-y: auto;
  flex-basis: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
  transition: filter ease-in-out 0.2s;
}
.swimlaneBody.disabled {
  filter: blur(4px);
  pointer-events: none;
}