/** swimlanes is the class for the container that  contains 
  * the individual swimlane columns. This container has the 
  * vertical scrollbar via overflow: auto.
  * swimlane-container is the individual board columns.
  * They are a simple flexbox column with minimum width of 
  * 300px. The hover effect (where the columns appear to 
  * get a little larger on rollover) is done by setting
  * the border transparent on rollover.
  */
  .swimlanes {
    display: flex;
    height: 100%;
    flex-direction: row; /* default */
    flex-wrap: nowrap;
    overflow:auto;
    padding: 0;
    margin: 0;
    scrollbar-width: thin; /* for Firefox */
  }