/** .headerBar is the application header.
  * It floats the board title to the left and and menu buttons 
  * to the right, all done via a flexbox with 
  * justify-content: space-between.
  */
.headerBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 0;
  padding-right: 0;
}

/* Containers for the header search and menu buttons */
.headerBar .row {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto;
}
