.searchContainer {
  position: relative;
  margin-right: 0.7em;
  overflow: hidden;
}

.search {
  border: 1px solid #dedede;
  color: #606060;
  min-height: 2.5em;
  background-color: #ffffff;
  width: 3em;
  padding-left: 0;
  padding-right: 0;
  border-radius: 12px;
  background-size: 1.2em;
  background-color: #ffffff;
  background-image: url("/assets/svg/ic_search_24px.svg");
  background-repeat: no-repeat;
  background-position: 0.8em 50%;
  transition: width 0.3s ease-in-out;
}
.search.open {
  width: 16em;
  padding-left: 2em;
  padding-right: 1.4em;
}
.search:focus {
  outline: none;
}
.search:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #606060;
  font-style: italic;
}
.search::-webkit-input-placeholder {
  /* Chrome */
  color: #606060;
  font-style: italic;
}
.search::placeholder {
  /* Everything else */
  color: #a0a0a0;
  font-style: italic;
}

.searchCloseIcon {
  position: absolute;
  border-radius: 10em;
  left: 14.5em;
  top: 0.7em;
  width: 1.2em;
  height: 1.2em;
  cursor: pointer;
  background-image: url("/assets/svg/close-icon.svg");
  background-size: 0.6em;
  background-position: 0.35em 50%;
  background-repeat: no-repeat;
  background-color: #ffffff;
  transition: filter 0.3s ease-in-out;
}
.searchCloseIcon:hover {
  filter: invert(100%);
}
.searchCloseIcon:focus {
  outline: none;
}
