/** The header search and menu buttons 
  */
.btn {
  border: 1px solid #dedede;
  min-height: 2.5em;
  color: #606060;
  background-color: #ffffff;
  min-width: 60px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-right: none;
}

.btn:hover,
.btn.toggled {
  background-color: #c7dbe4;
}
.btn:focus {
  outline: 0;
}

.btn:first-child {
  border-right: none;
  border-radius: 12px 0 0 12px;
}
.btn:last-child {
  border-right: 1px solid #dedede;
  border-radius: 0 12px 12px 0;
}

.icon {
  background-repeat: no-repeat;
  background-position: 1em 45%;
  background-size: 1em;
  padding-left: 2.5em;
}
.edit {
  background-image: url("/assets/svg/md-create.svg");
}

.reports {
  background-image: url("/assets/svg/md-trending-up.svg");
}
