/** root and App are the main container classes.
  * They takes up the height of the browser, and takes up 
  * 100% browser width by default (as it is a block).
  * They also sets the application background colour. 
  */

.app {
  height:100%;
  background-color: #f2f2f5;
}

:global(#root) {
  height: 100%;
}

/** board is the swimlanes container. It is a flexbox column 
  * and this forces the header and swimlane container to
  * stack vertically.
  * NB - note that board has max-width set to fit-content 
  * so that .header-bar does not extend to the full browser 
  * width.
  */ 
.board {
  display:flex;
  flex-direction: column;
  height: 100%;
  margin: 0 4px 0 4px;
  max-width: fit-content;       /* chrome */
  max-width: -moz-max-content;  /* firefox */
  max-width: intrinsic;         /* Safari? */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #606060;
  box-sizing: border-box;
  overflow: hidden;
}

/** Common styling **/

/** scrollbar styling.
  * Note this only works for Chrome. For other browsers, we 
  * can only use scrollbar-width: thin (see .swimlanes). 
  */
:global(::-webkit-scrollbar) {
  width: 10px;
  height:10px;
}
:global(::-webkit-scrollbar-track) {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}
:global(::-webkit-scrollbar-thumb) {
  border-radius: 10px;
  background:#aaa;
}

:global(.ellipses-text) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*used to make headings and text unselectable.*/
:global(.unselectable) {
  user-select: none;
  cursor: default;
}
